<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      

      <li class="nav-item">
        <a class="nav-link " href="/admin/alluser">
          <i class="bi bi-person"></i>
          <span>User Tables</span>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="/admin/productTable">
          <i class="bi bi-menu-button-wide"></i>
          <span>Product Table</span>
        </a>
      </li>

       

       <li class="nav-item">
        <a class="nav-link " href="/admin/allcategory">
          <i class="bi bi-circle"></i>
          <span>Category Management</span>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="/admin/orderTable">
          <i class="bi bi-table"></i>
          <span>Order Table</span>
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link " href="/admin/sales">
          <i class="bi bi-circle"></i>
          <span>Sales</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " id="sidebar-offer" href="/admin/offer">
          <i class="bi bi-circle"></i>
          <span>Offer Management</span>
        </a>
      </li> 
       <li class="nav-item">
        <a class="nav-link " id="sidebar-productOffer" href="/admin/productOffer">
          <i class="bi bi-circle"></i>
          <span>Product Offer</span>
        </a>
      </li>

       <li class="nav-item">
        <a class="nav-link " id="sidebar-inventory" href="/admin/inventory">
          <i class="bi bi-circle"></i>
          <span>Inventory Management</span>
        </a>
      </li>



     
     



      {{!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/userTable">
              <i class="bi bi-circle"></i><span>User Tables</span>
            </a>
          </li> 
           <li>
            <a href="/admin/productTable">
              <i class="bi bi-circle"></i><span>Product Tables</span>
            </a>
          </li>
          <li>
            <a href="/admin/orderTable">
              <i class="bi bi-circle"></i><span>Order Tables</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Tables Nav --> --}}



      
    

      

      

      
      

      

      

      

    </ul>

  </aside><!-- End Sidebar--