
	
</head>

<body>

	<!-- Start Header Area -->
	
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Enter the OTP and new password</h3>
						<span style="color: red;">{{error}}</span>

						<form class="row login_form" action="/password-submit" method="post" id="contactForm" novalidate="novalidate">

							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="enter New Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter New Password'" onkeyup="validateOtp()">
								{{!-- <span class="text-danger" id="texterror"></span> --}}
							</div>


                            <div class="col-md-12 form-group">
								<input type="textbox" class="form-control" id="mobile" name="mobile" placeholder="enter your otp" onfocus="this.placeholder = ''" onblur="this.placeholder = 'enter your otp'" onkeyup="validateOtp()">
								<span class="text-danger" id="texterror"></span>
							</div>
							
							
							
							
							
							<div class="col-md-12 form-group">
								<button type="submit" id="passwordSubmit" value="submit" class="primary-btn">Submit</button>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</form>
	</section>
	<!--================End Login Box Area =================-->


	<!-- start footer Area -->
	
	<!-- End footer Area -->


	<script>
		function validateOtp(){
			const num = document.getElementById("mobile").value
			
			if(isNaN(num)){
				document.getElementById("texterror").innerHTML = "Enter Number"
				document.getElementById('#passwordSubmit').disabled = true;
			}
			else{
				document.querySelector('#passwordSubmit').disabled = false
			}
		}
	</script>


	
</body>

</html>